.quiz-logo {
  text-decoration: none;
}
// .buttons {
//   display: flex;
//   text-align: center;
//   align-items: center;
// }
.header-section {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.quiz-head {
  color: #4f6886;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.navbar-item {
  text-decoration: none;
}
.buttons {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.navbar__link {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.navbar_link {
  margin: 0.4rem;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  text-indent: 0.3em;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
.navbar_link:hover {
  color: #4f6886;
}

.navbar__link:hover {
  transform: translateY(-2px);
  color: #3eb88c;
}

.navbar__link--active {
  border-bottom: 3px solid #4f6886;
  transition: border-bottom 0.5s ease-in-out;
}

.button-header {
  outline: none;
  color: white;
  background-color: #3eb88c;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 4px;
}

.button-header:hover {
  background-color: white;
  color: #3eb88c;
  border: 1px solid #3eb88c;
}
.button-header:hover .navbar__link {
  color: #3eb88c;
}

.dropbtn {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #ffffff;
  padding: 10px;
  // font-size: 16px;
  border: none;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  text-indent: 0.3em;
  font-weight: 400;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-icon {
  color: black;
  // padding-top: 2rem;
}
.dropdown-content a {
  color: #62799b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn:hover {
  color: #62799b;
}
// .dropdown:hover .dropbtn {
//   background-color: #2a2a2a !important;
// }

// Responsive
@media screen and (max-width: 980px) {
  .quiz-head {
    font-size: 3rem;
  }
  .navbar_link {
    font-size: 2rem;
  }
  .dropbtn {
    font-size: 2rem;
  }
  .buttons {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .dropdown-content {
    font-size: 35px;
  }
}
