.homepage-div {
  background: url("/images/snow.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  color: white;
}
strong {
  color: #2a2a2a;
  font-weight: 500;
  font-family: inherit;
}
.homepage-name {
  color: #2a2a2a;
  font-size: 5rem;
  padding: 15rem 10rem;
  font-weight: 300;
  letter-spacing: 2px;
  font-style: initial;
}

.aboutinhomepage-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
}
.my-image {
  width: auto;
  max-width: 90%;
}

.aboutinhomepage-boxrow {
  display: flex;
  justify-content: center;
}
.aboutin-homepagebox1 {
  width: 45%;
}
.aboutin-homepagebox2 {
  width: 45%;
}
.aboutinhomepage-heading {
  font-size: 42px !important;
  line-height: 54px !important;
  color: #2a2a2a !important;
  font-family: "Droid Serif" !important;
  font-size: 24px;
  font-weight: 500;
  padding: 0 2rem;
}
.aboutinhomepage-para {
  font-size: 16px !important;
  line-height: 23px !important;
  color: #626262 !important;
  font-family: "Roboto" !important;
  padding: 1rem 2rem;
}
.about-inhomepage-button {
  text-decoration: none;
  font-size: 30px;
  font-weight: 200;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 7px 20px;
}
.about-inhomepage-button:hover {
  background-color: white;
  color: black;
}
.aboutin-homepagebutton-div {
  padding: 1rem 2rem;
}
.altcampus {
  color: #1da1f2;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
}
// Responsive
@media screen and (max-width: 980px) {
  .aboutinhomepage-boxrow {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .aboutin-homepagebox1 {
    width: 100%;
  }
  .aboutin-homepagebox2 {
    width: 100%;
  }
  .aboutinhomepage-heading {
    font-size: 62px !important;
    padding: 2rem 0;
  }
  .aboutinhomepage-para {
    font-size: 30px !important;
    padding: 2rem 0;
  }
  .homepage-div {
    background: url("/images/snow.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: auto;
    background-color: #999;
    color: white;
  }
  .aboutin-homepagebutton-div {
    padding: 1rem 0;
  }
  .altcampus {
    font-size: 2rem;
  }
}
