.homepage-div {
  background: url("/images/2ndpic.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  color: white;
}
.homepage-name {
  color: #2a2a2a;
  font-size: 5rem;
  padding: 15rem 10rem;
  font-weight: 400;
  font-style: initial;
}
